.Rproj.user
.Rhistory
.RData
.Ruserdata

# Large data
data/gdd/raw
data/gdd/processed
/figures
/figures
/figures/gdd_approach
/figures/gdd_approach
*.png
*.png
*.pdf
*.png
/figures/gdd_approach
/output
*.Rds
